.backdrop {
    width: 100%;
    height: 100%;
    position: fixed;
    display: grid;
    z-index: 100;
    left: 0;
    top: 0;
    background-color: var(--color-backdrop);

    * {
        place-self: center;
    }
}