.btn {
    border-radius: 3px;
    padding: 1rem 1.5rem;
    font-size: 1.2rem;
    font-weight: 600;
    border: none;
    outline: none;
    text-decoration: none;
    text-align: center;

    &--purple {
        background-color: var(--color-purple-light);
        color: var(--color-white);
        transition: background-color .2s;

        &:hover {
            background-color: var(--color-purple-dark);
        }
    }

    &--gray {
        background-color: var(--color-gray-btn-light);
        color: var(--color-white);
        transition: background-color .2s;

        &:hover {
            background-color: var(--color-gray-btn-dark);
            color: var(--color-white);
        }
    }

    &--red {
        background-color: var(--color-red-light);
        color: var(--color-white);
        transition: background-color .2s;

        &:hover {
            background-color: var(--color-red-dark);
            color: var(--color-white);
        }
    }

    &:disabled {
        background-color: var(--color-background);
        color: var(--color-white);
    }
}