.filter {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-self: end;
    column-gap: 0.5rem;

    &__btn {
        cursor: pointer;
        padding: 0.5rem;
        border-radius: 3px;
        border: 1px solid var(--color-section-border);
        background-color: var(--color-section-inner);
        fill: var(--color-section-dark-text);

        &:hover {
            fill: var(--color-purple-light);
        }
    }

    &__btn-icon {
        width: 1.5rem;
        height: 1.5rem;
        fill: inherit;
    }

    &__select {
        border: 1px solid var(--color-section-border);
        padding: 0 0.5rem;
        border-radius: 3px;
        outline: none;
        height: 100%;

        color: var(--color-section-dark-text);
        font-size: 1.2rem;

        &:hover, &:focus {
            border: 1px solid var(--color-purple-light-op5);
        }
    }
}