.footer {
    grid-area: footer;
    display: flex;
    background-color: var(--color-footer-background);
    border-top: 1px solid var(--color-section-border);
    align-items: center;
    padding: 0 1.6rem;
}