.input-with-action {
    display: grid;
    grid-template-columns: [input-start] 1fr [input-end input-action-start] auto [input-action-end];

    &__input {
        border: 1px solid var(--color-section-border);
        border-right: none;
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
        outline: none;
        padding: .8rem 1rem;
        color: var(--color-section-dark-text);
        font-size: 1.2rem;
    }

    &__btn {
        display: grid;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        width: 3.5rem;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
        background-color: var(--color-gray-btn-light);
        transition: background-color .2s;

        &:hover {
            background-color: var(--color-gray-btn-dark);
        }
    }

    &__icon {
        width: 2rem;
        height: 2rem;
        fill: var(--color-white);
    }
}