.list-item {
    display: grid;
    grid-template-columns:
        [item-marker-start] 1.5rem
        [item-marker-end item-data-group-start] 1fr
        [item-data-group-end item-action-group-start] auto
        [item-action-group-end];
    border: 1px solid var(--color-section-border);
    background-color: var(--color-section-inner);
    border-radius: 3px;
    padding: 1rem 1rem;

    &__marker {
        grid-column: item-marker-start / item-marker-end;
        align-self: center;
    }

    &__marker-dot {
        width: 1rem;
        height: 1rem;
        background-color: var(--color-user-marker);
        border-radius: 50%;
    }

    &__data-group {
        display: grid;
        grid-column: item-data-group-start / item-data-group-end;
        grid-auto-columns: 1fr;
        grid-auto-flow: column;
        align-self: center;

        * {
            align-self: center;
        }
    }

    &__action-group {
        display: grid;
        grid-column: item-action-group-start / item-action-group-end;
        column-gap: .5rem;
        justify-self: end;

        @for $i from 1 through 4 {
            &--#{$i} {
                grid-template-columns: repeat($i, 1fr);
            }
        }
    }

    &__btn {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 3rem;
        width: 3rem;
        border-radius: 50%;
        text-decoration: none;
        position: relative;

        &:hover {
            .tooltip {
                visibility: visible;
            }
        }

        &--purple {
            background-color: var(--color-purple-light);
            color: var(--color-white);
            transition: background-color .2s;
    
            &:hover {
                background-color: var(--color-purple-dark);
            }
        }

        &--red {
            background-color: var(--color-red-light);
            color: var(--color-white);
            transition: background-color .2s;
    
            &:hover {
                background-color: var(--color-red-dark);
            }
        }

        .tooltip {
            visibility: hidden;
            width: 8rem;
            background-color: var(--color-gray-middle);
            color: var(--color-white);
            text-align: center;
            border-radius: 3px;
            padding: 5px 0;
    
            position: absolute;
            top: 110%;
            left: 50%;
            margin-left: -4rem;
        }
    }

    &__btn-icon {
        fill: var(--color-white);
        height: 1.5rem;
        width: 1.5rem;
    }
}