.message {
    display: grid;
    grid-auto-flow: column;
    column-gap: 0.5rem;
    font-size: 1.6rem;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px var(--color-backdrop);
    padding: 1rem 1.5rem;

    &__icon {
        width: 1.6rem;
        height: 1.6rem;
    }

    &--error {
        background-color: var(--color-gray-middle);
        color: var(--color-red-light);
        fill: var(--color-red-light);
    }

    &--success {
        background-color: var(--color-green);
        color: var(--color-white);
        fill: var(--color-white);
    }
}