.popup {
    background-color: var(--color-white);
    color: var(--color-section-dark-text);
    padding: 1.5rem 2rem;
    border-radius: 5px;
    box-shadow: var(--box-shadow-backdrop);
    display: grid;
    row-gap: 1.5rem;
    max-width: 40rem;

    &__header {
        font-size: 1.6rem;
        font-weight: 700;
        text-transform: capitalize;
    }

    &__body {
        font-size: 1.2rem;
        font-weight: 600;
    }

    &__footer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 1rem;
    }
}