.section {
    display: grid;
    row-gap: 1.5rem;
    background-color: var(--color-white);
    color: var(--color-section-dark-text);
    font-size: 1.2rem;
    font-weight: 600;
    padding: 1.5rem 2rem;
    border: 2px solid var(--color-section-border);
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px var(--color-section-border);

    &__group {
        display: flex;
        flex-direction: column;
        
        @for $i from 1 through 12 {
            &--col#{$i} {
                grid-column: span #{$i};

                @include respond(tab-land) {
                    grid-column: span 12;
                }
            }
        }
    }

    &__row {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        column-gap: 1rem;
        row-gap: 1rem;
    }

    &__label {
        padding-bottom: .5rem;
    }

    &__input {
        border: 1px solid var(--color-section-border);
        border-radius: 3px;
        outline: none;
        padding: .8rem 1rem;
        color: var(--color-section-dark-text);
        font-size: 1.2rem;

        &:hover, &:focus {
            border: 1px solid var(--color-purple-light-op5);
        }
    }

    &__textarea {
        font-family: inherit;
        border: 1px solid var(--color-section-border);
        border-radius: 3px;
        outline: none;
        padding: .8rem 1rem;
        color: var(--color-section-dark-text);
        font-size: 1.2rem;
        resize: none;

        &:hover, &:focus {
            border: 1px solid var(--color-purple-light-op5);
        }
    }

    &__input-btn {
        border: 1px solid var(--color-section-border);
        border-radius: 3px;
        padding: .8rem 1rem;
        cursor: pointer;
    }

    &__error {
        padding-top: .5rem;
        color: var(--color-red-light);
        text-align: right;
    }
}