.section-header {
    display: grid;
    grid-template-columns:
        [section-header-title-start] 1fr
        [section-header-title-end section-header-actions-start] auto
        [section-header-actions-end];
    margin-bottom: 1rem;
    padding: 0 1rem;
    height: 4rem;
    * {
        align-self: center;
    }

    &__title {
        font-size: 1.6rem;
        font-weight: 700;
        color: var(--color-section-dark-text);
        margin: 1rem 0;
        text-transform: capitalize;
    }
}