.sidenav {
    grid-area: sidenav;
    display: flex;
    flex-direction: column;
    background-color: var(--color-gray-middle);
    color: var(--color-gray-middle-text);

    &__list {
        font-size: 1.4rem;
        list-style: none;
        margin-top: 3.5rem;
    }
    
    &__list-item {
        position: relative;
        cursor: pointer;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 3px;
            background-color: var(--color-purple-light);
            transform: scaleY(0);
            transition: transform .2s,
                width .4s cubic-bezier(1,0,0,1) .2s;
        }

        &:hover::before, &--active::before {
            transform: scaleY(1);
            width: 100%;
        }
    }

    &__list-link {
        color: inherit;
        text-decoration: none;
        text-transform: uppercase;
        display: block;
        padding: 1.5rem 3rem;
        position: relative;
        z-index: 10;
        background-color: transparent;
        border: none;
        font-size: 1.4rem;

        display: flex;
        align-items: center;
        transition: color .6s;

        &:hover {
            color: var(--color-white);
        }
    }
}