.spinner {
    position: relative;
    width: 20rem;
    height: 20rem;
    background: var(--color-gray-dark);
    border: 5px solid var(--color-gray-light);
    border-radius: 50%;
    text-align: center;
    line-height: 20rem;
    font-weight: 700;
    color: var(--color-purple-light);
    letter-spacing: 4px;
    font-size: 2.4rem;
    text-transform: uppercase;
    text-shadow: 0 0 10px var(--color-purple-light);
    box-shadow: var(--box-shadow-backdrop);

    &:before {
        content: '';
        position: absolute;
        top: -5px;
        left: -5px;
        width: 20rem;
        height: 20rem;
        border: 5px solid transparent;
        border-top: 5px solid var(--color-purple-light);
        border-right: 5px solid var(--color-purple-light);
        border-radius: 50%;
        animation: aimateCircle 2s linear infinite;
    }
}

@keyframes aimateCircle {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}