.user-btn-dropdown {
    position: absolute;
    top: 4.2rem;
    right: 1.6rem;
    background-color: var(--color-gray-middle);
    color: var(--color-gray-middle-text);
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px var(--color-backdrop);
    overflow: hidden;

    &__list {
        font-size: 1.4rem;
        list-style: none;
    }

    &__list-item {
        cursor: pointer;
        background-color: transparent;

        &:hover {
            background-color: var(--color-purple-light);
            color: var(--color-white);
        }
    }

    &__list-link {
        display: block;
        padding: 1rem 1.5rem;
        cursor: pointer;
        text-decoration: none;
        border: none;
        background-color: transparent;
        color: inherit;
    }
}