.user-btn {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-self: end;
    cursor: pointer;
    column-gap: 0.5rem;
    border-radius: 3px;
    padding: 0.5rem 1rem;
    transition: background-color .2s;

    &:hover {
        background-color: var(--color-purple-dark);
    }

    &__circle {
        display: inherit;
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 50%;
        justify-content: center;
        align-items: center;
        background-color: var(--color-white);
        border: 1px solid var(--color-white);
        color: var(--color-section-dark-text);
    }

    &__arrow {
        fill: var(--color-white);
        width: 1rem;
        height: 1rem;
    }
}