/**
 * $breakpoint arg choices:
 * - phone
 * - tab-port
 * - tab-land
 * - big-desktop
 *
 * 1em = 16px
 */
:root {
  --color-white: rgba(255, 255, 255, 1);
  --color-red-light: rgba(245, 124, 124, 1);
  --color-red-dark: rgba(225, 104, 104, 1);
  --color-background: rgba(240, 241, 244, 1);
  --color-user-marker: rgba(188, 198, 239, 1);
  --color-purple-light: rgba(123, 125, 229, 1);
  --color-purple-light-op5: rgba(123, 125, 229, 0.5);
  --color-purple-dark: rgba(106, 108, 209, 1);
  --color-purple-dark-text: rgba(181, 182, 230, 1);
  --color-green: rgba(105, 219, 164, 1);
  --color-gray-light: rgba(81, 87, 109, 1);
  --color-gray-middle: rgba(72, 77, 94, 1);
  --color-gray-middle-text: rgba(134, 145, 183, 1);
  --color-gray-dark: rgba(59, 64, 79, 1);
  --color-gray-dark-text: rgba(126, 134, 161, 1);
  --color-gray-btn-light: rgba(172, 173, 183, 1);
  --color-gray-btn-dark: rgba(135, 141, 161, 1);
  --color-section-border: rgba(219, 221, 228, 1);
  --color-section-light-text: rgba(172, 173, 183, 1);
  --color-section-dark-text: rgba(135, 141, 161, 1);
  --color-section-inner: rgba(250, 250, 251, 1);
  --color-backdrop: rgba(0, 0, 0, .5);
  --color-footer-background: rgba(232, 233, 237, 1);
  --box-shadow-backdrop: 0 0 20px rgba(0,0,0,.7);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
}
@media only screen and (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}
@media only screen and (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}
@media only screen and (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}

body {
  box-sizing: border-box;
  background-color: var(--color-background);
}

.auth-main {
  display: grid;
  justify-content: center;
  align-content: center;
  grid-column: 1/-1;
  grid-row: 1/-1;
}

.backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  display: grid;
  z-index: 100;
  left: 0;
  top: 0;
  background-color: var(--color-backdrop);
}
.backdrop * {
  place-self: center;
}

.btn {
  border-radius: 3px;
  padding: 1rem 1.5rem;
  font-size: 1.2rem;
  font-weight: 600;
  border: none;
  outline: none;
  text-decoration: none;
  text-align: center;
}
.btn--purple {
  background-color: var(--color-purple-light);
  color: var(--color-white);
  transition: background-color 0.2s;
}
.btn--purple:hover {
  background-color: var(--color-purple-dark);
}
.btn--gray {
  background-color: var(--color-gray-btn-light);
  color: var(--color-white);
  transition: background-color 0.2s;
}
.btn--gray:hover {
  background-color: var(--color-gray-btn-dark);
  color: var(--color-white);
}
.btn--red {
  background-color: var(--color-red-light);
  color: var(--color-white);
  transition: background-color 0.2s;
}
.btn--red:hover {
  background-color: var(--color-red-dark);
  color: var(--color-white);
}
.btn:disabled {
  background-color: var(--color-background);
  color: var(--color-white);
}

.footer {
  grid-area: footer;
  display: flex;
  background-color: var(--color-footer-background);
  border-top: 1px solid var(--color-section-border);
  align-items: center;
  padding: 0 1.6rem;
}

.header {
  grid-area: header;
  display: grid;
  grid-auto-flow: column;
  background-color: var(--color-purple-light);
  padding: 0.2rem 1.6rem;
  height: 4rem;
}

.input-with-action {
  display: grid;
  grid-template-columns: [input-start] 1fr [input-end input-action-start] auto [input-action-end];
}
.input-with-action__input {
  border: 1px solid var(--color-section-border);
  border-right: none;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  outline: none;
  padding: 0.8rem 1rem;
  color: var(--color-section-dark-text);
  font-size: 1.2rem;
}
.input-with-action__btn {
  display: grid;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 3.5rem;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  background-color: var(--color-gray-btn-light);
  transition: background-color 0.2s;
}
.input-with-action__btn:hover {
  background-color: var(--color-gray-btn-dark);
}
.input-with-action__icon {
  width: 2rem;
  height: 2rem;
  fill: var(--color-white);
}

.filter {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-self: end;
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem;
}
.filter__btn {
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 3px;
  border: 1px solid var(--color-section-border);
  background-color: var(--color-section-inner);
  fill: var(--color-section-dark-text);
}
.filter__btn:hover {
  fill: var(--color-purple-light);
}
.filter__btn-icon {
  width: 1.5rem;
  height: 1.5rem;
  fill: inherit;
}
.filter__select {
  border: 1px solid var(--color-section-border);
  padding: 0 0.5rem;
  border-radius: 3px;
  outline: none;
  height: 100%;
  color: var(--color-section-dark-text);
  font-size: 1.2rem;
}
.filter__select:hover, .filter__select:focus {
  border: 1px solid var(--color-purple-light-op5);
}

.list-item {
  display: grid;
  grid-template-columns: [item-marker-start] 1.5rem [item-marker-end item-data-group-start] 1fr [item-data-group-end item-action-group-start] auto [item-action-group-end];
  border: 1px solid var(--color-section-border);
  background-color: var(--color-section-inner);
  border-radius: 3px;
  padding: 1rem 1rem;
}
.list-item__marker {
  grid-column: item-marker-start/item-marker-end;
  align-self: center;
}
.list-item__marker-dot {
  width: 1rem;
  height: 1rem;
  background-color: var(--color-user-marker);
  border-radius: 50%;
}
.list-item__data-group {
  display: grid;
  grid-column: item-data-group-start/item-data-group-end;
  grid-auto-columns: 1fr;
  grid-auto-flow: column;
  align-self: center;
}
.list-item__data-group * {
  align-self: center;
}
.list-item__action-group {
  display: grid;
  grid-column: item-action-group-start/item-action-group-end;
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem;
  justify-self: end;
}
.list-item__action-group--1 {
  grid-template-columns: repeat(1, 1fr);
}
.list-item__action-group--2 {
  grid-template-columns: repeat(2, 1fr);
}
.list-item__action-group--3 {
  grid-template-columns: repeat(3, 1fr);
}
.list-item__action-group--4 {
  grid-template-columns: repeat(4, 1fr);
}
.list-item__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  text-decoration: none;
  position: relative;
}
.list-item__btn:hover .tooltip {
  visibility: visible;
}
.list-item__btn--purple {
  background-color: var(--color-purple-light);
  color: var(--color-white);
  transition: background-color 0.2s;
}
.list-item__btn--purple:hover {
  background-color: var(--color-purple-dark);
}
.list-item__btn--red {
  background-color: var(--color-red-light);
  color: var(--color-white);
  transition: background-color 0.2s;
}
.list-item__btn--red:hover {
  background-color: var(--color-red-dark);
}
.list-item__btn .tooltip {
  visibility: hidden;
  width: 8rem;
  background-color: var(--color-gray-middle);
  color: var(--color-white);
  text-align: center;
  border-radius: 3px;
  padding: 5px 0;
  position: absolute;
  top: 110%;
  left: 50%;
  margin-left: -4rem;
}
.list-item__btn-icon {
  fill: var(--color-white);
  height: 1.5rem;
  width: 1.5rem;
}

.main {
  grid-area: main;
  background-color: var(--color-background);
  padding: 1rem 5rem;
}

.message-list {
  display: grid;
  grid-auto-flow: row;
  row-gap: 0.8rem;
  position: fixed;
  right: 0;
  bottom: 0;
  padding: 0 1.6rem 1.6rem 0;
}

.message {
  display: grid;
  grid-auto-flow: column;
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem;
  font-size: 1.6rem;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 0px var(--color-backdrop);
  padding: 1rem 1.5rem;
}
.message__icon {
  width: 1.6rem;
  height: 1.6rem;
}
.message--error {
  background-color: var(--color-gray-middle);
  color: var(--color-red-light);
  fill: var(--color-red-light);
}
.message--success {
  background-color: var(--color-green);
  color: var(--color-white);
  fill: var(--color-white);
}

.paginator {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
}
.paginator__nav-select {
  border: 1px solid var(--color-section-border);
  padding: 0 0.5rem;
  border-radius: 3px;
  outline: none;
  height: 100%;
  color: var(--color-section-dark-text);
  font-size: 1.2rem;
}
.paginator__nav-select:hover, .paginator__nav-select:focus {
  border: 1px solid var(--color-purple-light-op5);
}
.paginator__nav {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-self: end;
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem;
}
.paginator__nav-btn {
  cursor: pointer;
  padding: 0.5rem 1.5rem;
  border-radius: 3px;
  border: 1px solid var(--color-section-border);
  background-color: var(--color-section-inner);
  fill: var(--color-section-dark-text);
}
.paginator__nav-btn:hover {
  fill: var(--color-purple-light);
}
.paginator__nav-btn-icon {
  width: 1.5rem;
  height: 1.5rem;
  fill: inherit;
}
.paginator__nav-body {
  display: grid;
  grid-auto-flow: column;
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem;
  height: 100%;
}
.paginator__nav-body-btn {
  display: grid;
  cursor: pointer;
  align-items: center;
  padding: 0 1rem;
  border-radius: 3px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.paginator__nav-body-btn:hover {
  color: var(--color-purple-light);
}
.paginator__nav-body-btn--active {
  background-color: var(--color-purple-light);
  color: var(--color-white);
}
.paginator__nav-body-btn--active:hover {
  color: var(--color-white);
}

.popup {
  background-color: var(--color-white);
  color: var(--color-section-dark-text);
  padding: 1.5rem 2rem;
  border-radius: 5px;
  box-shadow: var(--box-shadow-backdrop);
  display: grid;
  row-gap: 1.5rem;
  max-width: 40rem;
}
.popup__header {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: capitalize;
}
.popup__body {
  font-size: 1.2rem;
  font-weight: 600;
}
.popup__footer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  -moz-column-gap: 1rem;
       column-gap: 1rem;
}

.section-header {
  display: grid;
  grid-template-columns: [section-header-title-start] 1fr [section-header-title-end section-header-actions-start] auto [section-header-actions-end];
  margin-bottom: 1rem;
  padding: 0 1rem;
  height: 4rem;
}
.section-header * {
  align-self: center;
}
.section-header__title {
  font-size: 1.6rem;
  font-weight: 700;
  color: var(--color-section-dark-text);
  margin: 1rem 0;
  text-transform: capitalize;
}

.section {
  display: grid;
  row-gap: 1.5rem;
  background-color: var(--color-white);
  color: var(--color-section-dark-text);
  font-size: 1.2rem;
  font-weight: 600;
  padding: 1.5rem 2rem;
  border: 2px solid var(--color-section-border);
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px var(--color-section-border);
}
.section__group {
  display: flex;
  flex-direction: column;
}
.section__group--col1 {
  grid-column: span 1;
}
@media only screen and (max-width: 75em) {
  .section__group--col1 {
    grid-column: span 12;
  }
}
.section__group--col2 {
  grid-column: span 2;
}
@media only screen and (max-width: 75em) {
  .section__group--col2 {
    grid-column: span 12;
  }
}
.section__group--col3 {
  grid-column: span 3;
}
@media only screen and (max-width: 75em) {
  .section__group--col3 {
    grid-column: span 12;
  }
}
.section__group--col4 {
  grid-column: span 4;
}
@media only screen and (max-width: 75em) {
  .section__group--col4 {
    grid-column: span 12;
  }
}
.section__group--col5 {
  grid-column: span 5;
}
@media only screen and (max-width: 75em) {
  .section__group--col5 {
    grid-column: span 12;
  }
}
.section__group--col6 {
  grid-column: span 6;
}
@media only screen and (max-width: 75em) {
  .section__group--col6 {
    grid-column: span 12;
  }
}
.section__group--col7 {
  grid-column: span 7;
}
@media only screen and (max-width: 75em) {
  .section__group--col7 {
    grid-column: span 12;
  }
}
.section__group--col8 {
  grid-column: span 8;
}
@media only screen and (max-width: 75em) {
  .section__group--col8 {
    grid-column: span 12;
  }
}
.section__group--col9 {
  grid-column: span 9;
}
@media only screen and (max-width: 75em) {
  .section__group--col9 {
    grid-column: span 12;
  }
}
.section__group--col10 {
  grid-column: span 10;
}
@media only screen and (max-width: 75em) {
  .section__group--col10 {
    grid-column: span 12;
  }
}
.section__group--col11 {
  grid-column: span 11;
}
@media only screen and (max-width: 75em) {
  .section__group--col11 {
    grid-column: span 12;
  }
}
.section__group--col12 {
  grid-column: span 12;
}
@media only screen and (max-width: 75em) {
  .section__group--col12 {
    grid-column: span 12;
  }
}
.section__row {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  row-gap: 1rem;
}
.section__label {
  padding-bottom: 0.5rem;
}
.section__input {
  border: 1px solid var(--color-section-border);
  border-radius: 3px;
  outline: none;
  padding: 0.8rem 1rem;
  color: var(--color-section-dark-text);
  font-size: 1.2rem;
}
.section__input:hover, .section__input:focus {
  border: 1px solid var(--color-purple-light-op5);
}
.section__textarea {
  font-family: inherit;
  border: 1px solid var(--color-section-border);
  border-radius: 3px;
  outline: none;
  padding: 0.8rem 1rem;
  color: var(--color-section-dark-text);
  font-size: 1.2rem;
  resize: none;
}
.section__textarea:hover, .section__textarea:focus {
  border: 1px solid var(--color-purple-light-op5);
}
.section__input-btn {
  border: 1px solid var(--color-section-border);
  border-radius: 3px;
  padding: 0.8rem 1rem;
  cursor: pointer;
}
.section__error {
  padding-top: 0.5rem;
  color: var(--color-red-light);
  text-align: right;
}

.sidenav {
  grid-area: sidenav;
  display: flex;
  flex-direction: column;
  background-color: var(--color-gray-middle);
  color: var(--color-gray-middle-text);
}
.sidenav__list {
  font-size: 1.4rem;
  list-style: none;
  margin-top: 3.5rem;
}
.sidenav__list-item {
  position: relative;
  cursor: pointer;
}
.sidenav__list-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 3px;
  background-color: var(--color-purple-light);
  transform: scaleY(0);
  transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s;
}
.sidenav__list-item:hover::before, .sidenav__list-item--active::before {
  transform: scaleY(1);
  width: 100%;
}
.sidenav__list-link {
  color: inherit;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  padding: 1.5rem 3rem;
  position: relative;
  z-index: 10;
  background-color: transparent;
  border: none;
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  transition: color 0.6s;
}
.sidenav__list-link:hover {
  color: var(--color-white);
}

.spinner {
  position: relative;
  width: 20rem;
  height: 20rem;
  background: var(--color-gray-dark);
  border: 5px solid var(--color-gray-light);
  border-radius: 50%;
  text-align: center;
  line-height: 20rem;
  font-weight: 700;
  color: var(--color-purple-light);
  letter-spacing: 4px;
  font-size: 2.4rem;
  text-transform: uppercase;
  text-shadow: 0 0 10px var(--color-purple-light);
  box-shadow: var(--box-shadow-backdrop);
}
.spinner:before {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  width: 20rem;
  height: 20rem;
  border: 5px solid transparent;
  border-top: 5px solid var(--color-purple-light);
  border-right: 5px solid var(--color-purple-light);
  border-radius: 50%;
  -webkit-animation: aimateCircle 2s linear infinite;
          animation: aimateCircle 2s linear infinite;
}

@-webkit-keyframes aimateCircle {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes aimateCircle {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.user-btn-dropdown {
  position: absolute;
  top: 4.2rem;
  right: 1.6rem;
  background-color: var(--color-gray-middle);
  color: var(--color-gray-middle-text);
  border-radius: 5px;
  box-shadow: 0px 0px 5px 0px var(--color-backdrop);
  overflow: hidden;
}
.user-btn-dropdown__list {
  font-size: 1.4rem;
  list-style: none;
}
.user-btn-dropdown__list-item {
  cursor: pointer;
  background-color: transparent;
}
.user-btn-dropdown__list-item:hover {
  background-color: var(--color-purple-light);
  color: var(--color-white);
}
.user-btn-dropdown__list-link {
  display: block;
  padding: 1rem 1.5rem;
  cursor: pointer;
  text-decoration: none;
  border: none;
  background-color: transparent;
  color: inherit;
}

.user-btn {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-self: end;
  cursor: pointer;
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem;
  border-radius: 3px;
  padding: 0.5rem 1rem;
  transition: background-color 0.2s;
}
.user-btn:hover {
  background-color: var(--color-purple-dark);
}
.user-btn__circle {
  display: inherit;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  background-color: var(--color-white);
  border: 1px solid var(--color-white);
  color: var(--color-section-dark-text);
}
.user-btn__arrow {
  fill: var(--color-white);
  width: 1rem;
  height: 1rem;
}

#root {
  display: grid;
  grid-template-columns: 20rem 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  grid-template-areas: "sidenav header" "sidenav main" "sidenav footer";
  height: 100vh;
}
