#root {
    display: grid;
    grid-template-columns: 20rem 1fr;
    grid-template-rows: 5rem 1fr 5rem;
    grid-template-areas:
        "sidenav header"
        "sidenav main"
        "sidenav footer";
    height: 100vh;
}