:root {
    --color-white: rgba(255, 255, 255, 1);
    --color-red-light: rgba(245, 124, 124, 1);
    --color-red-dark: rgba(225, 104, 104, 1);
    --color-background: rgba(240, 241, 244, 1);
    --color-user-marker: rgba(188, 198, 239, 1);
    --color-purple-light: rgba(123, 125, 229, 1);
    --color-purple-light-op5: rgba(123, 125, 229, 0.5);
    --color-purple-dark: rgba(106, 108, 209, 1);
    --color-purple-dark-text: rgba(181, 182, 230, 1);
    --color-green: rgba(105, 219, 164, 1);
    --color-gray-light: rgba(81, 87, 109, 1);
    --color-gray-middle: rgba(72, 77, 94, 1);
    --color-gray-middle-text: rgba(134, 145, 183, 1);
    --color-gray-dark: rgba(59, 64, 79, 1);
    --color-gray-dark-text: rgba(126, 134, 161, 1);
    --color-gray-btn-light: rgba(172, 173, 183, 1);
    --color-gray-btn-dark: rgba(135, 141, 161, 1);
    --color-section-border: rgba(219, 221, 228, 1);
    --color-section-light-text: rgba(172, 173, 183, 1);
    --color-section-dark-text: rgba(135, 141, 161, 1);
    --color-section-inner: rgba(250, 250, 251, 1);
    --color-backdrop: rgba(0, 0, 0, .5);
    --color-footer-background: rgba(232, 233, 237, 1);

    --box-shadow-backdrop: 0 0 20px rgba(0,0,0,.7);
}